<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Noticias</title>
	<link rel="stylesheet" type="text/css" href="/estilo/style.css">
</head>
<body id="noticias">

	<ul>
		<li class="home">
			<a href="../criando_barra_navegação_vertical.html">Home</a>
		</li>

		<li class="sobre">
			<a href="sobre.html">Sobre</a>
		</li>

		<li class="servicos">
			<a href="servico.html">Serviços</a>
		</li>

		<li class="noticias">
			<a href="noticia.html">Notícias</a>
		</li>

		<li class="contato">
			<a href="contato.html">Contato</a>
		</li>
	</ul>

</body>
</html>